

.product-off{
    background: brown;
    position: relative;
    width: 90%;
    /* min-width: 350px;
    min-height: 500px; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 20px auto;
    flex-direction: column;
    min-width: 100px;

}

.product-img{
    width: 90%;
    height: auto;
    background: fuchsia;
    /* position: relative; */
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in 1s forwards 1;
    border-top-left-radius: 20px;
    min-width: 100px;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.tag{
    position: absolute;
    top: 30px;
    left: -30px;
    transform-origin: left;
    opacity: 0;
    transform: rotate(-90deg);
    text-transform: capitalize;
    color: #eae3d2;
    padding: 5px 10px;
    width: 140px;
    font-size: 16px;
    text-align: center;
    background: #292929;
    user-select: none;
    animation: tag .5s 1s forwards 1;
    border-radius: 5px;
}

@keyframes tag{
    100%{
        opacity: 1;
        transform: rotate(-20deg);
    }
}

.product-listing{
    width: 90%;
    /* min-height: 500px; */
    height: auto;
    background: #292929;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #eae3d2;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 1s forwards 1;
    border-bottom-right-radius: 20px;

}

@keyframes fade-in{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.name{
    font-family: 'dosis';
    font-size: 23px;
    text-transform: capitalize;
}

.info{
    font-size: 14px;
    line-height: 18px;
    margin: 13px 0;
}

.price{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.btn-and-rating-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.rating{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating img{
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

.btn{
    background: #eae3d2;
    color: #292929;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
}

.btn:hover{
    background-color: #eedbaf;
}
@media (min-width: 480px) {
    
.product-off{
    background: brown;
    
    width: 80%;
    min-width: 70%;
    /*min-height: 500px; */
    height: auto;
    
    
    margin: 20px auto;
    flex-direction: column;
    min-width: 100px;

}
}

@media (min-width: 570px) {
    .product-off{
        background: brown;
        
        width: 70%;
        
        /*min-height: 500px; */
        height: auto;
        
        
        margin: 20px auto;
        flex-direction: column;
        min-width: 100px;
    
    }
    .product-img{
        width: 85%;
        height: 450px;
        background: fuchsia;
        
        
    }
    .product-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
    }
    .product-listing{
        width: 80%;
        height: auto;
        align-items: center;
        background: #292929;
    
    }
}

@media (min-width: 768px) {
    .product-off{
        background: brown;
        
        position: relative;
        width: 90%;
        /* min-width: 350px;
        min-height: 500px; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
    }
    .product-img{
        width: 40%;
        height: 400px;
        background: fuchsia;
       
        opacity: 0;
        transform: translateY(-50px);
        animation: fade-in 1s forwards 1;
        border-top-left-radius: 20px;
        max-width: 300px;
    }
    .product-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
    }
    .product-listing{
        width: 45%;
        height: 400px;
        align-items: center;
        background: #292929;
    
    }
}

@media (min-width: 1024px) {
    .product-off{
        background: brown;
        
        position: relative;
        width: 90%;
        /* min-width: 350px;
        min-height: 500px; */
    
    }
    .product-img{
        width: 35%;
        height: 400px;
        background: fuchsia;
        /* position: relative; */
        opacity: 0;
        
    }
    .product-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
    }
    .product-listing{
        width: 55%;
        
        align-items: center;
        height: 400px;
        background: #292929;
        
    
    }
}


@media (min-width: 1200px){
    .product-off{
        background: brown;
        
      
        width: 90%;
        /* min-width: 350px;
        min-height: 500px; */
    
    }
    .product-img{
        width: 1000px;
        height: 509px;
        background: fuchsia;
        /* position: relative; */
        
    }
    .product-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
    }
    .product-listing{
        width: 40%;
        align-items: center;
        height: 450px;
    }
}
@media (min-width: 1400px){}


/*****************COMMENT****************/

.review{
    width: 90%;
    max-width: 768px;;
    margin: 80px auto;
    min-width: 200px;
    background: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.review .head-review {
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-bottom: 1.5px solid red;
    background-color: aquamarine;
    width: 100%;
}

.review .head-review  strong {
    font-size: 30px;
}
.review .head-review span {
    content: '';
    transform: skewX(-25deg);
    width: 1.5px;
    height: 30px;
    background: black;
    margin: 0 15px;
}
.review .head-review p{
    color: chocolate;
    margin-top: 20px;

}

.review .head-review .button-write button{
    color: black;
    
    border-radius: 14px;
    height: 30px;
    width: 110px;
    border: none;
    border-width: 1px;
    text-transform: unset;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
    font-size: 13px;
} 
.review .head-review .button-write .button-one{
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.review .head-review .button-write .button-one:focus{
    color: crimson;
    background: rgb(243, 127, 208);
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.2),inset 8px 8px 16px rgba(0, 0, 0, 0.5);
    
}

.profile {
    
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    background: #292929;
}
.wrap-details {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-details .info-detail{
    background: blueviolet;
    margin-left: 10px;
}
.wrap-details .info-detail .names{
    font-size: 1.4rem;
    font-weight: 300;
}
.wrap-details .info-detail p{
    font-size: 14px;
}
.profile .controls{
    background: darkblue;
    cursor: pointer;
    padding: 6px 9px;
}

.comment{
    background: darkcyan;
}
.comment strong{
    font-size: 16px;
}
.comment p{
    
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    
}
.comment .controls-b{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: slategrey;
    cursor: pointer;
    padding:6px 9px;
    
}
.comment .controls-b a{
    margin: 0 10px;
}

.comment-box{
    
    background: darkorange;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin: 10px auto;
    width: 90%;
    overflow: hidden;
    display: none;
    
}
.comment-box .user{
    background: darkgreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.comment-box .user button{
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: saddlebrown;
}
.comment-box .user .name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 19px;
    font-weight: 500;
    background: #eae3d2;
    
}
.comment-box .user .name img{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background: #292929;
}
.comment-box .user .name h4{
    background: darkblue;
}
.comment-box .comment-form{
    
    width: 100%;
    display: flex;
    
    flex-direction: column;
}
.comment-box .comment-form form{
    padding: 0 10px;
    background: salmon;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    
}
.comment-box .comment-form textarea{
    width: 100%;
    background: sandybrown;
    border-radius: 5px;
    min-width: 100px;
    max-width: 1000px;
    margin: 0 10px;
    padding: 10px;
}
.comment-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
    padding-top: 4px;
    
}
.comment-button .coment-submit{
    padding: 5px 8px;
}
/*modal-------------*/

.wrapper-feeling{
    background: darkmagenta;
    padding: 2rem;
    max-width: 576px;
    min-width: 200px;
    height: 280px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, .05);
    text-align: center;
    /* position: fixed; */
    margin: 0 auto;
    overflow: hidden;
    display: none;
}


.wrapper-feeling h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.rating-feeling {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: orangered;
    margin-bottom: 2rem;
}
.rating-feeling .star{
    cursor: pointer;
}
.rating-feeling .star.active{
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}
@keyframes animate{
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);

    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.rating-feeling .star:hover{
    transform: scale(1.1);
}
.wrapper-feeling form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-feeling textarea {
    width: 100%;
    background: chartreuse;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
}
.wrapper-feeling .btn-group{
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}
.wrapper-feeling .btn-group .btn-fl{
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}

.wrapper-feeling .btn-group .btn-fl.submit{
    background: blue;
    color: white;
}
.wrapper-feeling .btn-group .btn-fl.submit:hover{
    background: darkmagenta;
}

.wrapper-feeling .btn-group .btn-fl.cancel{
    background: cadetblue;
    color: sienna;
}
.wrapper-feeling .btn-group .btn-fl.cancel:hover{
    background: seagreen;
}

/*modal review*/
/* .modal-show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
} */







@media (min-width: 480px){}
@media (min-width: 570px){}
@media (min-width: 768px){}
@media (min-width: 1024px){}













