

.product-off{
    
    position: relative;
    width: 90%;
    min-width: 150px; 
    max-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 20px auto;
    flex-direction: column;
    min-width: 100px;

}

.product-img{
    width: 100%;
    display: flex;
    align-items: center;
    
    
    
    /* position: relative; */
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in 1s forwards 1;
    border-top-left-radius: 20px;
    min-width: 100px;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.tag{
    position: absolute;
    top: 30px;
    left: -6px;
    transform-origin: left;
    opacity: 0;
    transform: rotate(-90deg);
    text-transform: capitalize;
    color: #eae3d2;
    padding: 5px 10px;
    width: 80px;
    font-size: 16px;
    text-align: center;
    background: #292929;
    user-select: none;
    animation: tag .5s 1s forwards 1;
    border-radius: 5px;
}

@keyframes tag{
    100%{
        opacity: 1;
        transform: rotate(-30deg);
    }
}

.product-listing{
    width: calc(100%-10px);
    /* min-height: 500px; */
    
    height: auto;
    background: #292929;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #eae3d2;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 1s forwards 1;
    border-bottom-right-radius: 20px;

}

@keyframes fade-in{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.name{
    font-family: 'dosis';
    font-size: 23px;
    text-transform: capitalize;
}

.info{
    font-size: 14px;
    line-height: 18px;
    margin: 13px 0;
}

.price{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.btn-and-rating-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rating{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating img{
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

.btn{
    background: #eae3d2;
    color: #292929;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
}

.btn:hover{
    background-color: #eedbaf;
}

@media (min-width: 480px) {
    
.product-off{
    width: 80%;
    min-width: 70%;
    /*min-height: 500px; */
    height: auto;
    margin: 20px auto;
    flex-direction: column;
    min-width: 100px;

    }
}

@media (min-width: 570px) {
    
    .product-off{
        width: 90%;
        max-width: 600px;
        flex-direction: row;
    }
    .product-img{
        width: 45%;
        
        height: 380px;
        max-width: 270px;
    }
    
    .product-listing{
        width: 55%;
    } 

    .tag{
        top: 36px;
        left: -9px;
        padding: 4px 8px;
        width: 120px;
    }
    .info{
        
        margin: 9px 0;
        
    }

    .name{
        
        font-size: 26px;
    }

   
    .price{
        font-size: 20px;
        
    }

    .rating img{
        width: 16px;
        height: 16px;
        margin: 0 3px;
    }

    .btn{
        font-size: 16px;
        padding: 8px 18px;
       
    }
}

@media (min-width: 768px) {
    .product-off{
        max-width: 950px;
        
    }
    .product-img{
        height: 370px;
        max-width: 300px;
    }
    .product-listing{
        padding: 18px;
    }
    .tag{
        top: 36px;
        left: -9px;
        padding: 4px 8px;
        width: 160px;
    }

    .name{
        
        font-size: 28px;
    }

    .info{
        font-size: 16px;
        line-height: 18px;
        margin: 13px 0;
        letter-spacing: .6px;
        
    }

   
    .price{
        font-size: 20px;
        
    }

    .rating img{
        width: 18px;
        height: 18px;
        margin: 0 3px;
    }

    .btn{
        font-size: 16px;
        padding: 8px 18px;
       
    }
    
    
    
}






/*****************COMMENT****************/

.review{
    width: 80%;
    max-width: 768px;;
    margin: 0 auto;
    min-width: 220px;
    background: brown;
    display: flex;
    padding: 3px 9px;
    justify-content: flex-start;
    flex-direction: column;
}

.review .head-review {
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1.5px solid red;
    
    width: 100%;
}

.review .head-review  strong {
    font-size: 30px;
}
.review .head-review span {
    content: '';
    transform: skewX(-25deg);
    width: 1.5px;
    height: 30px;
    background: black;
    margin: 0 15px;
}
.review .head-review p{
    color: black;
    

}

.review .head-review .button-write button{
    color: black;
    background-color: pink;
    border-radius: 14px;
    padding: 9px;
    border: none;
    border-width: 1px;
    text-transform: unset;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
    font-size: 10px;
} 
.review .head-review .button-write .button-one{
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.review .head-review .button-write .button-one:focus{
    color: white;
    background: darkblue;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.2),inset 8px 8px 16px rgba(0, 0, 0, 0.5);
    
}
/* .profile{
    background: cornflowerblue;
} */
.profile-dinamic {
    
    padding: 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    border-radius: 1rem;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    min-width: 160px;
    background: seagreen;
    gap: 10px;
    
}
.wrap-details {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-details .info-detail{
    
    margin-left: 10px;
}
.wrap-details .info-detail .names{
    font-size: 1.4rem;
    font-weight: 300;
}
.wrap-details .info-detail p{
    font-size: 14px;
}
.profile .controls{
    background: chocolate;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 20px;
}

.comment{
    
    padding: 2px 3px;
}
.comment strong{
    font-size: 14px;
}
.comment p{
    
    font-size: 13px;
    letter-spacing: .6px;
    margin: 0;
    
}
.comment .controls-b{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding:6px 9px;
    
}
.comment .controls-b a{
    margin: 0 10px;
    cursor: pointer;
}

.comment-box{
    border-radius: 1rem;
    border: 1px solid #292929;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin: 6px auto;
    width: 90%;
    padding: 0px 3px 3px 3px;
    overflow: hidden; 
    display: none;
    
}
.comment-box .user{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.comment-box .user button{
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    border: none;
    border-radius: 2px;
}
.comment-box .user .name{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 14px;
    font-weight: 500;
    
    
}
.comment-box .user .name img{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    
}
.comment-box .user .name h4{
    
    padding: 0 3px;
}
.comment-box .comment-form{
    
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comment-box .comment-form form{
    padding: 0 6px;
    
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    
}
.comment-box .comment-form textarea{
    width: 100%;
    
    border-radius: 5px;
    min-width: 100px;
    /* max-width: 00px; */
    margin: 0 10px;
    padding: 9px;
}
.comment-button {
    
    margin-right: 4px;
    padding-top: 4px;
    
}
.comment-button .coment-submit{
    padding: 5px 8px;
    border-radius: 1rem;
    border: none;
    background: #292929;
    color: #fff;
    cursor: pointer;
}
/*reply section comment*/
.reply-comment{
   
    width: 100%;
    
}

/*modal-------------*/

.wrapper-feeling{
    
    padding: 9px;
    max-width: 676px;
    min-width: 180px;
    
    width: 100%;
    border-radius: .75rem;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, .05);
    text-align: center;
    /* position: fixed; */
    margin: 0 auto;
    overflow: hidden;
    display: none;
}


.wrapper-feeling h3{
    font-size: 1rem;
    font-weight: 600;
    
}
.rating-feeling {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .3rem;
    font-size: 1.5rem;
    color: orangered;
    
    margin-bottom: 6px;
    
}
.rating-feeling .star{
    cursor: pointer;
}
.rating-feeling .star.active{
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}
@keyframes animate{
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);

    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.rating-feeling .star:hover{
    transform: scale(1.1);
}
.wrapper-feeling form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-feeling textarea {
    width: 95%;
    
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
}
.wrapper-feeling .btn-group{
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}
.wrapper-feeling .btn-group .btn-fl{
    padding: .45rem .5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .675rem;
    font-weight: 500;
}

.wrapper-feeling .btn-group .btn-fl.submit{
    background: darkblue;
    color: white;
}
.wrapper-feeling .btn-group .btn-fl.submit:hover{
    background: darkmagenta;
}

.wrapper-feeling .btn-group .btn-fl.cancel{
    background: darkred;
    color: white;
}
.wrapper-feeling .btn-group .btn-fl.cancel:hover{
    background: seagreen;
}

/*modal review*/
/* .modal-show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
} */







@media (min-width: 480px){}
@media (min-width: 570px){}
@media (min-width: 768px){}
@media (min-width: 1024px){}













